<main role="main">
    <ul class="entries-list no-bullets no-padding">
      <% @entries.each do |entry| %>
        <li class="entry-item pad-b-4">
          <a href="/entries/<%= entry.id %>" class="entry-title font-2 pad-b-1-4 c-white"><%= entry.title %></a>
          <span class="entry-date block font-3-4 c-lt-gray"><%= "Written on #{long_form_date(entry.created_at)}, by " %><a href="/users/<%= @user.id %>/entries"<%= "#{entry.user}" %></a></span>
          <p class="entry-stub"><%= stub(entry.body) %></p>
        </li>
      <% end %>
    </ul>
  </main>