<a href="/tournaments/new">Add a tournament</a>

<h1>All Tournaments</h1>

<% @tournaments.each do |tournament| %>
<div class="tournament">
  <h2><a href="/tournaments/<%= tournament.id %>"><%= tournament.name %></a></h2>
  <%= erb :'/tournaments/_tournament_description', locals: { tournament: tournament } %>

  <div class="event-container">
  <% tournament.events.each do |event| %>
    <div class="event">
      <p><u><%= event.name %> Top 8</u></p> 
      <% event.list_top_8.each do |placing| %>
      <span><a href="/players/<%= placing.player.id %>"><%= placing.placing %><%= get_suffix(placing.placing) %>: <%= placing.player.full_tag %></a></span><br>
      <% end %> 
    </div>
  <% end %>  
  </div>
</div>
<% end %>